.merriweather{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 70px;
  font-variation-settings: "wdth" 100;
  text-align: center;
  color: white; 
  margin-top: 20px;
}

/* Media query for tablets and below */
@media (max-width: 768px) {
  .merriweather {
    font-size: 50px;
  }
}

/* Media query for mobile phones */
@media (max-width: 480px) {
  .merriweather {
    font-size: 24px;
  }
}